<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vehicle Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Vehicle Info</ion-title>
        </ion-toolbar>
    </ion-header>

    <form>
        <ion-item class="input" lines="full">
            <ion-label position="floating">License Plate</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <fa-icon (click)="takeLicensePlatePhoto()" class="camera-icon" [icon]="faCamera"></fa-icon>

        <ion-item class="input" lines="full">
            <ion-label position="floating">VIN</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <fa-icon (click)="takeVinPhoto()" class="camera-icon" [icon]="faCamera"></fa-icon>
    </form>

    <ion-button class="submit" (click)="submit()">Next</ion-button>
</ion-content>
